.section--pading-zero {
  padding-top: 0px;
}
.feature-list__img {
  width: 270px;
  height: 120px;
  background-color: var(--bcg-comand-and-button-filter);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.filter-list-button {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.feature-list__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-list__benefits {
  font-size: 14px;
  line-height: 1.71;
  color: var(--benefits);
}
.feature-list__block {
  width: 270px;
  margin-right: 30px;
}
.feature-list__block {
  &:nth-child(4) {
    margin-right: 0px;
  }
}
.overlay {
  background-color: var(--hero-bgc);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
}
.overlay__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bgc-text-hero);
}
