.parents-overlay {
  position: relative;
  overflow: hidden;
}
.blue-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition-property: opacity, transform;
}

.flex-container__link {
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: display, box-shadow;
}
.blue-overlay {
  transition-timing-function: var(--transition-t);
  transition: var(--transition-d);
}

.flex-container__link {
  &:hover {
    .blue-overlay {
      opacity: 0.9;
      transform: translateY(0);
    }
  }
}
.flex-container__link {
  &:focus {
    .blue-overlay {
      opacity: 0.9;
      transform: translateY(0);
    }
  }
}

.blue-overlay__text {
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--bgc-text-hero);
  letter-spacing: 0.03em;
}
.flex-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.flex-container__element {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.flex-container__element {
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.flex-container__element {
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}
.flex-container__link {
  &:hover {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.flex-container__link {
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.discription-card-portfolio__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--zaholovokh2);
  margin-bottom: 4px;
}
.discription-card-portfolio__content {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  color: var(--benefits);
  margin: 0;
}
.discription-card-portfolio {
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: #ececec;
  border-width: 1px;
  padding: 20px 24px 20px 24px;
}
