.hero {
  @media screen and (max-width: 768px) {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-bgc);
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-mob-2x.jpg);
    }
  }
  @media screen and (max-width: 1200px) {
    padding-top: 118px;
    padding-bottom: 118px;
    margin-top: 0;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-bgc);
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tab-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tab-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-top: 0;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--hero-bgc);
    text-align: center;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-2x.jpg);
    }
  }
}

.hero__title {
  @media screen and (max-width: 1200px) {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--bgc-text-hero);
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
}
