.regular-client-list {
  display: flex;
  margin-right: -30px;
}
.regular-client-list__block {
  margin-right: 30px;
}
.regular-client-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: border-color;
}
.regular-client-list__link {
  &:focus {
    border-color: var(--accent-color);
  }
}
.regular-client-list__link {
  &:hover {
    border-color: var(--accent-color);
  }
}

.regular-client-list__icon {
  fill: var(--icon-color);
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: fill;
}
.regular-client-list__icon {
  &:hover {
    fill: var(--accent-color);
  }
}
.regular-client-list__link {
  &:hover .regular-client-list__icon {
    fill: var(--accent-color);
  }
}
.regular-client-list__link {
  &:focus .regular-client-list__icon {
    fill: var(--accent-color);
  }
}

.mailtel__icons {
  fill: var(--benefits);
  margin-right: 10px;
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: fill;
}
.mailtel__icons {
  &:hover {
    fill: var(--accent-color);
  }
}
