.regular-client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  margin-right: -30px;
}
.regular-client-list__block {
  margin-right: 30px;
  margin-bottom: 30px;
}
.regular-client-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: border-color;
}
.regular-client-list__link {
  &:focus {
    border-color: var(--accent-color);
  }
}
.regular-client-list__link {
  &:hover {
    border-color: var(--accent-color);
  }
}

.regular-client-list__icon {
  fill: var(--icon-color);
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
  transition-property: fill;
}
.regular-client-list__icon {
  &:hover {
    fill: var(--accent-color);
  }
}
.regular-client-list__link {
  &:hover .regular-client-list__icon {
    fill: var(--accent-color);
  }
}
.regular-client-list__link {
  &:focus .regular-client-list__icon {
    fill: var(--accent-color);
  }
}
