.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: var(--transition-d);
  transition-timing-function: var(--transition-t);
}
.backdrop {
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.modal {
  position: relative;
  margin: 0 auto;
  width: 90vw;
  // width: 528px;
  min-height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    position: absolute;
    width: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    width: 528px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__text-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.form__label {
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--benefits);
}

.text-agree {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--benefits);
  justify-content: center;
}
.box-text-agree {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.box-text-agree input[type='checkbox'] {
  width: 16px;
  height: 15px;
}

.form {
  padding: 40px;
}
.form-link-agree {
  color: var(--accent-color);
  text-decoration: underline;
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__field {
  &:nth-child(5) {
    margin-bottom: 0px;
  }
}
.form__field input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
}
.form__field input {
  &:focus {
    border-color: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}
.form__field input {
  &:focus ~ svg {
    fill: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}

.form__field input {
  &:hover ~ svg {
    fill: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}

.form__field {
  &:hover input {
    border-color: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}
.form__field {
  &:focus input {
    border-color: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}

.form__field textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
}
.form__field textarea {
  &:focus {
    border-color: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}
.form__field {
  &:hover textarea {
    border-color: var(--accent-color);
    transition-duration: var(--transition-d);
    transition-timing-function: var(--transition-t);
  }
}

textarea[id='text'] {
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.form__pic {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input-div {
  position: relative;
}

.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.custom-checkboxx {
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 7px;
}
.checkbox-input:checked + .custom-checkboxx {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

input {
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
// ---------------------------------------MOBILE----MODAL----------
.container-mobile {
  background-color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-left: 40px;
}

.mob-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  padding-top: 48px;
  padding-bottom: 48px;
  @media screen and (max-width: 768px) {
    overflow: hidden;
  }
}

.mob-menu .body {
  overflow: hidden;
}
.mob-menu {
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.btn-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #212121;
}

.mob-menu-list__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: #212121;
}
.mob-menu-list__link-active {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  text-align: center;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-mailtel__link {
  width: 296px;
  height: 40px;
  left: 40px;
  top: 562px;
}

.mob-social-network__item {
  display: inline;
}
.mob-social-network__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social-network__link__last {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;
  padding-left: 10px;
}
.mob-social-network__link__first {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: #2196f3;
  padding-right: 10px;

  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-social-network__ul {
  margin-top: 64px;
}

.meil-mailtel__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-mailtel__item {
  margin-top: 32px;
}

.mob-mailtel__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2196f3;
  &:hover {
    color: #2196f3;
  }
}
