:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-text-hero: #fff;
  --hero-bgc: #2f303a;
  --benefits: #757575;
  --zaholovokh2: #212121;
  --bcg-comand-and-button-filter: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-d: 250ms;
  --transition-t: cubic-bezier(0.4, 0, 0.2, 1);
  --roboto: 'Roboto', sans-serif;
}
